@font-face {
    font-family: Norse;
    src: url(Fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 241, 241);
    display: flex;
}

div.sidebar {
    width: clamp(300px, 40vw, 900px);
    height: 100vh;
    min-height: 700px;
    flex: none;
    background-image: url(Images/eberhard-grossgasteiger-5P91SF0zNsI-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.logo-container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.logo-container > img {
    height: 110px;
}

p.logo-text {
    font-family: Norse;
    font-size: 5rem;
    color: white;
}

div.footer-container {
    justify-self: flex-end;
    margin-bottom: 1rem;
}

p.footer {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

p.footer > a {
    color: inherit;
}

form {
    background-color: rgb(241, 241, 241);
    height: 100vh;
    width: 100vw;
}

div.header {
    height: max(280px, 25vh + 130px);
    padding-top: 20vh;
    padding-bottom: 1rem;
    padding-left: 40px;
    width: clamp(300px, 50vw, 900px);
}

div.header > p + p {
    margin-top: 1rem;
}

.header > p,
fieldset > h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

fieldset {
    height: auto;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    background-color: white;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

fieldset p {
    width: 250px;
    margin-top: 20px;
    margin-right: 40px;
    flex: 1 1 auto;
}

fieldset > div {
    width: clamp(300px, 50vw, 900px);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

div > p.error-text {
    position: absolute;
    bottom: -1rem;
    font-size: 0.75rem;
    color: rgb(189, 9, 9);
}

p > label {
    width: 100%;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

p > input {
    width: 100%;
    height: 1.7rem;
    border: solid rgb(182, 182, 182) 1px;
    border-radius: 4px;
    padding-left: 1rem;
}

p > input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 1px 1px 5px gray;
}

p > input.error {
    outline: none;
    border-color: rgb(189, 9, 9);
}

button {
    margin-left: 40px;
    width: 200px;
    height: 2.5rem;
    padding: 0.5rem auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(188,107,34);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 1px 1px 5px grey;
    margin-bottom: 30px;
}

button:active {
    background-color: rgb(133, 75, 24);
}

p.login {
    margin-left: 40px;
}

p.login > a {
    color: rgb(188,107,34);
}

@media only screen and (max-width: 700px) {

    body {
        flex-direction: column;
    }

    div.sidebar {
        height: 25vh;
        min-height: 160px;
        width: 100vw;
        background-size: 100%;
        background-position: 0 -200px;  
    }

    div.logo-container {
        width: 100vw;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
    }

    div.header {
        padding: 50px;
        margin: 0 auto;
        height: auto;
        width: auto;
    }

    form {
        height: auto;
    }

    fieldset {
        padding: 50px;
    }

    fieldset > div {
        width: 100%;
        flex-direction: column;
    }

    fieldset p {
        width: auto;
    }

    button {
        margin-left: 50px;
    }

    p.login {
        margin-left: 50px;
    }

}

